<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${titulo}"></title>
</head>
<body>
    <h2 th:text="${titulo}"></h2>
    <form th:action="@{/form}" th:object="${user}" method="post">
        <div>
            <label for="username">Username</label>
            <div>
                <input type="text" id="username" th:field="*{username}">
            </div>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>
        <div>
            <label for="password">Password</label>
            <div>
                <input type="password" id="password" th:field="*{password}">
            </div>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <div>
            <label for="email">Email</label>
            <div>
                <input type="email" id="email" th:field="*{email}">
            </div>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>
        <div>
            <button type="submit">Aceptar</button>
        </div>
    </form>
</body>
</html>