<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${titulo}"></title>
</head>
<body>
    <h2 th:text="${titulo}"></h2>
    <form th:action="@{/form}" th:object="${user}" method="post">
        <div>
            <label for="enable">Enable</label>
            <div>
                <input type="checkbox" id="enable" th:field="*{enable}">
            </div>
        </div>
        <div>
            <label>gender</label>
            <div th:each="gen: ${gender}">
                <input type="radio" th:field="*{gender}" th:value="${gen}">
                <label th:for="${#ids.prev('gender')}" th:text="${gen}"></label>
            </div>
            <div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
        </div>
        <div>
            <label for="country">Country</label>
            <div>
                <select id="country" th:field="*{country}">
                    <option value="">--- Seleccionar ---</option>
                    <option th:each="country: ${listCountries}" th:text="${country.name}" th:value="${country.id}"></option>
                </select>
            </div>
            <div th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>
        </div>
        <div>
            <label>Roles</label>
            <div th:each="role: ${listRoles}">
                <input type="checkbox" th:field="*{roles}" th:value="${role.id}">
                <label th:text="${role.name}" th:for="${#ids.prev('roles')}"></label>
            </div>
            <div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
        </div>
        <div>
            <label for="id">Identificador</label>
            <div>
                <input type="text" id="id" th:field="*{id}">
            </div>
            <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></div>
        </div>
        <div>
            <label for="name">Name</label>
            <div>
                <input type="text" id="name" th:field="*{name}">
            </div>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div>
            <label for="lastname">Lastname</label>
            <div>
                <input type="text" id="lastname" th:field="*{lastname}">
            </div>
            <div th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
        </div>
        <div>
            <label for="username">Username</label>
            <div>
                <input type="text" id="username" th:field="*{username}">
            </div>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
        </div>
        <div>
            <label for="password">Password</label>
            <div>
                <input type="password" id="password" th:field="*{password}">
            </div>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <div>
            <label for="email">Email</label>
            <div>
                <input type="email" id="email" th:field="*{email}">
            </div>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>
        <div>
            <label for="Age">Age</label>
            <div>
                <input type="number" id="age" th:field="*{age}">
            </div>
            <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
        </div>
        <div>
            <label for="birthDate">Birth Date</label>
            <div>
                <input type="date" id="birthDate" th:field="*{birthDate}" placeholder="YYYY-MM-DD">
            </div>
            <div th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>
        </div>
        <div>
            <button type="submit">Aceptar</button>
        </div>
    </form>
</body>
</html>